<div class="d-flex align-items-center justify-content-between">
    <div class="logo d-flex align-items-center">
        <img src="./img/logo.png" alt="">
        <!--span class="d-none d-lg-block">COCIRCON-GE</span-->
    </div>
    <i class="bi bi-list toggle-sidebar-btn"></i>
    <!--span>SICOCIR-GE</span-->

</div><!-- End Logo -->

<nav class="header-nav ms-auto">

   
    <ul class="d-flex align-items-center">


        <li class="nav-item dropdown pe-3">

            <a id="nomUsuDrop" class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
                data-bs-toggle="dropdown">
                <i class="bi bi-person-circle"></i>
                <!--img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"-->
                <span class="dropdown-toggle ps-2">idUsuario</span>
            </a><!-- End Profile Iamge Icon -->

            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                <li id="mnUsuario" class="dropdown-header">
                    <h6>Nombre Usuario</h6>
                    <span>Titulo</span>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>

                <li>
                    <a class="dropdown-item d-flex align-items-center" href="./cambio-pin.html">
                        <i class="bi bi-person"></i>
                        <span>Cambio PIN</span>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>

                <!--li>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <i class="bi bi-gear"></i>
                        <span>Configuración</span>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li-->

                <li>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <i class="bi bi-question-circle"></i>
                        <span>Ayuda</span>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>

                <li>
                    <a class="dropdown-item d-flex align-items-center" href="javascript:cerrarSession();">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>Cerrar Sesión</span>
                    </a>
                </li>

            </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

    </ul>
</nav><!-- End Icons Navigation -->